
<div  align="center">
    <h6 style="text-decoration: none; color:rgb(34, 33, 31); font-size: xx-large;">Diagnostic Center</h6>
    <div  class="w3-show-inline-block">
        <button class="btn btn-info" >
        `<a style="text-decoration: none; color:rgb(34, 33, 31); font-size: large" routerLink="/home" routerLinkActive="active">Home</a>
        </button>
    <button class="btn btn-info" >
    <a style="text-decoration: none; color:rgb(34, 33, 31); font-size: large" routerLink="/contact" routerLinkActive="inactive">contact us</a>
    </button>
    <button class="btn btn-info" >
    <a style="text-decoration: none; color:rgb(34, 33, 31); font-size: large" routerLink="/about " routerLinkActive="inactive">about us</a>
    </button>
    </div>
    <br>
    <div class="w3-show-inline-block">
        
      
   <button class="btn btn-info" >
   <a style="text-decoration: none; color:rgb(34, 33, 31);"   routerLink="/add" routerLinkActive="active">ADD CENTER</a>
  </button>
  <button  class="btn btn-info">
    <a style="text-decoration: none; color:rgb(48, 47, 44)" routerLink="" routerLinkActive="active">LIST OF CENTER </a>
  </button>
  
  <button  class="btn btn-info">
  <a style="text-decoration: none; color:rgb(58, 57, 51)" routerLink="/get" routerLinkActive="active">SEARCH CENTER </a>
  </button>
  <button  class="btn btn-info">
    <a style="text-decoration: none; color:rgb(58, 57, 51)" routerLink="/delete" routerLinkActive="active">DELETE CENTER </a>
    </button>
    <button  class="btn btn-info">
      <a style="text-decoration: none; color:rgb(58, 57, 51)" routerLink="/modify" routerLinkActive="active">UPDATE CENTER</a>
      </button>
      <button  class="btn btn-info">
        <a style="text-decoration: none; color:rgb(58, 57, 51)" routerLink="/addTest" routerLinkActive="active">ADD TEST</a>
        </button>
        <button  class="btn btn-info">
          <a style="text-decoration: none; color:rgb(58, 57, 51)" routerLink="/getTest" routerLinkActive="active">TEST DETAILS</a>
          </button>
          <button  class="btn btn-info">
            <a style="text-decoration: none; color:rgb(58, 57, 51)" routerLink="/deleteTest" routerLinkActive="active">DELETE TEST</a>
            </button>
  <br>
  <br>
  
  
  
      </div>
      
        <div class="navbar-item" align="left">
          <img src="assets/img/p1.jpg">
          <img src="assets/img/p2.jpg">
          <img style="padding-right:75px" src="assets/img/p3.jfif">
        </div>
   </div> 
